body {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    margin: 0; 
    overflow: hidden;
}

.aside {
    position: absolute;
    top: 48px;
    left: 0px;
    max-width: 235px;
    width: 235px;
    height: 100%;
    transition: left 0.5s ease 0s;
    padding-top: 29px;
    background-color: #F7F7F5;
    border-right: 1px solid #C7C5BD;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DCDCDD;
    height: 48px;
    padding: 0 32px;
  }

  .logo {
    font-size: 19px;
    font-weight: bold;
    font-family: alfa slab one;
    color: #F72F09;
  }
  
  .image {
    width: 41px;
    height: 41px;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
  }
  
  .nickname {
    font-size: 14px;
    font-weight: 500;
  }