@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    margin: 0; 
    overflow: hidden;
}

.aside {
    position: absolute;
    top: 48px;
    left: 0px;
    max-width: 235px;
    width: 235px;
    height: 100%;
    transition: left 0.5s ease 0s;
    padding-top: 29px;
    background-color: #F7F7F5;
    border-right: 1px solid #C7C5BD;
}

.button {
    display: flex;
    align-items: center;
    background: rgb(13, 13, 12);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 12px 38px;
    margin: auto 13px 24px;
}

.btnTitle {
    background: rgb(13, 13, 12);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: rgb(255, 255, 255);
}