.bookmarkIcon {
    /* BookMark 아이콘에 대한 스타일 */
    background-image: url("../../public/images/star.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.viewIcon {
    background-image: url("../../public/images/view.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.playIcon {
    background-image: url("../../public/images/play.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.plusIcon {
    background-image: url("../../public/images/plus.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.aiIcon {
    background-image: url("../../public/images/ai.svg");
    background-size: contain;
    background-repeat: no-repeat;
}